<sly data-sly-use.cta="${'com.truu.core.models.MultifieldModel' @ property = 'links'}"></sly>
<div class="cmp-links" data-sly-list.props="${cta.valueMaps}">
    <div ><a href="${props.link}">${props.jcr:title @ context='html'}</a>
</div>
</div>
<div data-sly-test="${wcmmode.edit && !cta.valueMaps}">Please edit the list of links</div>

<sly data-sly-use.clientLib="${'/libs/granite/sightly/templates/clientlib.html'}">
    <clientlib data-sly-call="${clientLib.all @ categories='truu.site'}" data-sly-unwrap/>