<div class="cmp-location" data-sly-use.object="com.truu.core.models.LocationImpl">
    <sly data-sly-list.item="${object.location}">
	<div class="cmp-location__container">
      <div class="cmp-location__title">${item.locationtitle}</div>
       <div class="cmp-location__area"> ${item.locationarea @ context='html'}</div>
       <div class="cmp-location__phnno"><a href="">${item.phnno}</a></div>
      <div class="cmp-location__link"><a href="${item.locationlink}">${'Google Map'}</a></div>
    </div>
</sly>
</div>
<div data-sly-test="${wcmmode.edit && !object.location}">Please edit the list of locations</div>

