<!--<div data-sly-use.object="com.truu.core.models.LocationImpl">
    <div data-sly-list.item="${object.location}">
        <p>${item.locationtitle}<span>.</span></p>
         <p>${item.locationarea}</p>
        <p><a href="${item.phnno}">${item.phnno}</a></p>
        <a href=${item.locationlink}>Google Map -- </a><br>
    </div>
</div>
<div data-sly-test="${wcmmode.edit && !object.location}">Please edit the list of locations</div> -->







<div class="cmp-location" data-sly-use.object="com.truu.core.models.LocationImpl">


    <sly data-sly-list.item="${object.location}">
	<div class="cmp-location__container">
      <div class="cmp-location__title">${item.locationtitle}</div>
       <div class="cmp-location__area"> ${item.locationarea}</div>
       <div class="cmp-location__phnno"><a href="">${item.phnno}</a></div>
      <div class="cmp-location__link"><a href="${item.locationlink}">${'Google Map'}</a></div>
    </div>
</sly>
</div>
<div data-sly-test="${wcmmode.edit && !object.location}">Please edit the list of locations</div>



<style>

.cmp-location{



}


.cmp-location__container{
	display:flex;
	flex-direction:column;
	justify-content: space-between;
	padding: 0px;
	gap: 16px;

	width: 191px;
	height: 178px;

}

.cmp-location__title{

	width: 191px;
 height: 34px;

font-family: 'Satoshi';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 34px;
/* identical to box height, or 142% */



}

.cmp-location__area{
	width: 348px;
height: 48px;

font-family: 'Satoshi';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 24px;
/* or 171% */


/* Light Grey */

color: #AAB8C2;
}

.cmp-location__phnno{


width: 290px;
height: 24px;

font-family: 'Satoshi';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 24px;
/* identical to box height, or 171% */


/* Light Grey */

color: #AAB8C2;
}

.cmp-location__phnno a{

text-decoration:none;
color: #AAB8C2;

}

.cmp-location__link{

	width: 78px;
height: 24px;

font-family: 'Satoshi';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 24px;
/* identical to box height, or 171% */


/* Light Blue */

color: #00A5D0;

}


</style>