@import '../base/customfonts';

$color_1: #051D3A;
$font-family: 'Satoshi-Variable';

.cmp-next {
	display: flex;
	background: linear-gradient(45deg,#07D2FB 0%, #fff 60%, #F5B76C );
	gap: 64px;
	padding: 50px 50px;
}
.cmp-next__card {
	box-sizing: border-box;
	background: radial-gradient(619.36% 221.04% at 186.63% -87.41%, rgba(255, 255, 255, 0.6) 0%, rgba(255, 255, 255, 0.1) 100%);
	border: 1px solid rgba(255, 255, 255, 0.3);
	box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.05);
	/*backdrop-filter: blur(15px);*/
	border-radius: 20px;
	width: 952px;
	height: 454px;
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: flex-start;
	padding: 60px;
	gap: 60px;
	img {
		position: absolute;
		top: 60px;
		left: 60px;
	}
	.cmp-next__text {
		width: 610px;
		height: 146px;
		gap: 40px;
		display: flex;
		flex-direction: column;
	}
}
.cmp-next__text {
	h3 {
		width: 610px;
		height: 46px;
		font-family: $font-family;
		font-style: normal;
		font-weight: 700;
		font-size: 36px;
		line-height: 46px;
		color: $color_1;
		margin: 0;
	}
	p {
		width: 610px;
		height: 60px;
		font-family: $font-family;
		font-style: normal;
		font-weight: 400;
		font-size: 20px;
		line-height: 30px;
		margin: 0;
	}
}
.cmp-next__title {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 0px;
	gap: 40px;
	width: 476px;
	height: 450px;
	border-radius: 20px;
	h2 {
		width: 476px;
		height: 74px;
		font-family: $font-family;
		font-style: normal;
		font-weight: 700;
		font-size: 64px;
		line-height: 74px;
		color: $color_1;
		margin: 0;
	}
}
