$color_1: #000;
$font-family_1: 'Satoshi';

.cmp-overlap-banner {
	color: $color_1;
	background: linear-gradient(45deg,orange 0%, #fff 30%,#ECFCFF 50%);
}
.cmp-overlap-banner__heading {
	background: linear-gradient(294.42deg, #1CA0A5 -10.52%, #042955 73.2%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-clip: text;
	text-fill-color: transparent;
	height: 420px;
	width: 1492px;
	left: 0px;
	top: 0px;
	border-radius: nullpx;
	margin: 0 100px;
	h1 {
		font-family: $font-family_1;
		font-style: normal;
		font-weight: 700;
		font-size: 200px;
		line-height: 210px;
		padding: 0;
		margin: 0;
	}
}
.cmp-overlap-banner__description {
	font-family: $font-family_1;
	font-style: normal;
	font-weight: 400;
	font-size: 24px;
	line-height: 34px;
	margin: 50px 100px;
	width: 1193px;
	height: 68px;
}
