<div class="cmp-mytru">
    <div class="cmp-mytru__header">${properties.text1}</div>
     <div class="cmp-mytru__line"></div>
    <div class="cmp-mytru__desc">${properties.text2}</div>
    <div class="cmp-mytru__ecllipse">
        <div class="cmp-mytru__button">
                <a class="cmp-mytru__button-link" href="">${'Get In Touch'}</a>
        </div>
     </div>
</div>



<style>

.cmp-mytru {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 50px 50px;
    gap: 48px;
    isolation: isolate;
    background: #051D3A;
	position:relative;

}
.cmp-mytru__header {
    /* height: 106px; */
    /* width: 857px; */
    left: 50px;
    top: 128px;
    line-height: 105px;
    font-family: 'Satoshi';
    font-style: normal;
    font-weight: 700;
    font-size: 80px;
    background: linear-gradient(95.12deg, #FFDBF1 -10.86%, #DAF4F2 25.4%, #7DCCF0 90.04%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}
.cmp-mytru__line {
    width: 100%;
    height: 0px;
    opacity: 0.5;
    border: 1px solid #445666;
}
.cmp-mytru__desc {
    /* width: 100%; */
    /* height: 46px; */
    font-family: 'Satoshi';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 46px;
    color: #AAB8C2;
}
.cmp-mytru__ecllipse {
    position: absolute;
    width: 180px;
    height: 180px;
    /* right: 294px; */
    top: 125px;
    border-radius: 50%;
    /* bottom: 132px; */
    left: 70%;
    background: #00A5D0;
}
.cmp-mytru__button {
    position: absolute;
    left: 16.11%;
    /* right: 15.68%; */
    top: 40%;
    /* bottom: 40.35%; */
    font-family: 'Satoshi';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 34px;
    color: #FFFFFF;
}
.cmp-mytru__button-link{
    text-decoration: none;
    color: #FFFFFF;
}


</style>