<div class="cmp-overlap">
<div class="cmp-overlap__heading"><h1>${pageProperties.pageTitle}</h1></div>

<div class="cmp-overlap__description">${pageProperties.jcr:description}</div>

</div>



<style>


.cmp-overlap{

/*background: linear-gradient(135deg, #ECFCFF 0%, #F0F9FC 100%);*/
color:#000;
background: linear-gradient(45deg,orange 0%, #fff  30%,#ECFCFF 50%);
}

.cmp-overlap__heading{ 



background: linear-gradient(294.42deg, #1CA0A5 -10.52%, #042955 73.2%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
text-fill-color: transparent;

height: 420px;
width: 1492px;
left: 0px;
top: 0px;
border-radius: nullpx;

margin: 0 100px;

}

.cmp-overlap__heading h1{
font-family: 'Satoshi';
font-style: normal;
font-weight: 700;
font-size: 200px;
line-height: 210px;
padding:0;

margin:0;



}


.cmp-overlap__description{

font-family: 'Satoshi';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 34px;

margin:50px 100px;


width: 1193px;
height: 68px;

}

</style>